.formLabel {
    background: none;
    background-color: white;
    color: black;
    font-size: 1.4rem;
    padding: 5px 0px 5px 0px;
    display: block;
    width: 80%;
    border: none;
    margin: 10px auto 10px auto;
}

.formDropdown {
    background: none;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 80%;
   
    border-radius: 4px;
    margin: 10px auto 10px auto;
}