/* h1.className {
  color: black;
} */
/* 
#C0C0C8
#1FBAD6
#222233
#161629
#09091A */

.dropdown {
  float: left;
  overflow: hidden;
  font-size: 1em;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #C0C0C8;
  padding: 1.15em .5em;
  background-color: inherit;
  cursor: pointer;
  /* font-family: inherit; */
  /* margin: 0; */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: white;
  /* text-decoration: underline gray; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  display: flex;
  justify-content: center;
}

.dropdown-content a:hover {
  background-color: #C0C0C8;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.activeStyle {
  position: relative;
}

.activeStyle:hover {
  color: white
}

/* .activeStyle:active {
  color: white
} */
