/* h1.className {
  color: black;
} */
/* 
#C0C0C8
#1FBAD6
#222233
#161629
#09091A */



.dropdown {
  float: left;
  overflow: hidden;
  font-size: 1em;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: skyblue;
  padding: 1.15em .5em;
  background-color: inherit;
  cursor: pointer;
  /* font-family: inherit; */
  /* margin: 0; */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  /* background-color: gray; */
  text-decoration: underline gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.borderCenter {
  position: relative;
}

.borderCenter::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 60%;
  height: 1px;
  opacity: 0;
  background-color: white;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
}

.borderCenter:hover::after {
  width: 100%;
  opacity: 1;
}
